<!--Carousel-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/img/live.jpg" class="d-block w-100">
        </div>
    </div>
</div>
<!--end Carousel-->
<!--Recherche-->
<section class="search-sec">
  <div class="container">
    <div class="shadow-sm p-3 mb-5 bg-white1 rounded">
      <form action="">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Louer</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Acheter</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Estimer</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="container">
                        <div class="row">
                                <div class="col-md-3">
                                    <input type="text" class="form-control search-slt" placeholder="Dans quelle ville? Quartier?">
                                </div>
                                <div class="col-md-3">
                                    <input type="number" class="form-control search-slt" placeholder="Votre budget max?    €">
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control search-slt" placeholder="Nbre de pièce(s)    €">
                                </div>
                                <div class="row mt-3">
                                   <div class="col-md-12">
                                    <div class="form-check form-check-inline ">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                                        <label class="form-check-label" for="inlineCheckbox1">Appartement</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
                                        <label class="form-check-label" for="inlineCheckbox2">Maison</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                        <label class="form-check-label" for="inlineCheckbox3">Immeuble</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                        <label class="form-check-label" for="inlineCheckbox4">Magasin</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                        <label class="form-check-label" for="inlineCheckbox5">Duplexe</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                        <label class="form-check-label" for="inlineCheckbox6">Terrain</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                                        <label class="form-check-label" for="inlineCheckbox7">Villa</label>
                                    </div>
                                   </div>
                                </div>
                                <div class="col-md-2 mt-1">
                                    <button type="button" class="btn btn-primary wrn-btn">Rechercher</button>
                                </div>
                        </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="container">
                        <div class="row">
                                <div class="col-md-3">
                                    <input type="text" class="form-control search-slt" placeholder="Dans quelle ville? Quartier?">
                                </div>
                                <div class="col-md-3">
                                    <input type="number" class="form-control search-slt" placeholder="Votre budget max?    €">
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control search-slt" placeholder="Nbre de pièce(s)    €">
                                </div>
                                <div class="row mt-3">
                                   <div class="col-md-12">
                                    <div class="form-check form-check-inline ">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                                        <label class="form-check-label" for="inlineCheckbox1">Appartement</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
                                        <label class="form-check-label" for="inlineCheckbox2">Maison</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                        <label class="form-check-label" for="inlineCheckbox3">Immeuble</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                        <label class="form-check-label" for="inlineCheckbox4">Magasin</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                        <label class="form-check-label" for="inlineCheckbox5">Duplexe</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                        <label class="form-check-label" for="inlineCheckbox6">Terrain</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                                        <label class="form-check-label" for="inlineCheckbox7">Villa</label>
                                    </div>
                                   </div>
                                </div>
                                <div class="col-md-2 mt-1">
                                    <button type="button" class="btn btn-primary wrn-btn">Rechercher</button>
                                </div>
                        </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="container">
                        <div class="row">
                                <div class="col-md-3">
                                    <label for="">Estimez gratuitement votre bien</label>
                                    <input type="text" class="form-control search-slt" placeholder="Adresse de votre bien ?">
                                </div>
                                <div class="row ">
                                    <div class="col-md-1 mt-1">
                                        <button type="button" class="btn btn-primary wrn-btn">Continuer</button>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
          </div>
    </form>

    </div>
     </div>
</section>
<!--End Recherche-->

<!--Card Property-->
<div class="container py-5">
    <h1 class="display-4">Nos biens immobiliers</h1>
    <div class="row  ">
        <div class="col-sm-12 col-md-6 col-lg-4 mt-5" *ngFor="let property of properties; let i = index">
            <div class="card h-10 shadow-sm p-3 mb-5 bg-white rounded" style="width: 23rem;" [routerLink]="['/property', i]">
              <div *ngFor="let photo of property.photos; let first = first">
                <img [src]="photo" class="card-img-top" *ngIf="first">
              </div>
                <div class="card-body">
                  <h5 class="card-title">{{property.title}}</h5>
                  <p class="card-text">
                    <span *ngIf="property.category && property.category !==''">{{property.category}} </span> <span *ngIf="property.rooms && property.rooms !== ''"> {{property.rooms}} pièce(s)</span> <span *ngIf="property.surface && property.surface !==''"> {{property.surface}} m²</span> 
                  </p>
                  <p class="font-weight-bold text-right ">
                    <span *ngIf="property.price && property.price !==''">{{property.price}} €</span>
                  </p>
                  <p class="font-weight-bolder">
                    <span *ngIf="property.city && property.city !== '' "> <i class="fas fa-map-marker-alt"></i> {{property.city}} , </span> <span *ngIf="property.quarter && property.quarter !==''">{{property.quarter}}</span>
                  </p>
                  <p [ngStyle]="{'color': getSoldValue(i)}">
                      <span *ngIf="property.sold">A vendre</span>
                      <span *ngIf="!property.sold">Vendu !</span>
                  </p>
                </div>
              </div>
        </div>
    </div>
</div>
<!--End Card-->

